@{
    Layout = null;
}
@model NovoItemEntradaViewModel

<div class="row">
    <div class="col-3">
        <span> Material </span>
        <input asp-for="ItensEntradaModel[Model.Index].Material" />
        <span asp-validation-for="ItensEntradaModel[Model.Index].Material"></span>
    </div>
    <div class="col-3">
        <span> Medida </span>
        <input asp-for="ItensEntradaModel[Model.Index].Medida" />
        <span asp-validation-for="ItensEntradaModel[Model.Index].Medida"></span>
    </div>
    <div class="col-3">
        <span> Quantidade </span>
        <input asp-for="ItensEntradaModel[Model.Index].Quantidade" />
        <span asp-validation-for="ItensEntradaModel[Model.Index].Quantidade"></span>
    </div>
    <div class="col-3">
        <span> Valor </span>
        <input asp-for="ItensEntradaModel[Model.Index].Valor" />
        <span asp-validation-for="ItensEntradaModel[Model.Index].Valor"></span>
    </div>
</div>