@{
    ViewData["Title"] = "Todas as medidas";
}
@model IndexMedidaViewModel

<form asp-action="index"
      asp-controller="medida"
      method="GET">
    <div class="row justify-content-end mb-3">
        <div class="col-4">
            <input asp-for="Query" class="form-control" placeholder="Pesquise pela medida" />
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>

<div class="p-3">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Medidas.Any())
            {
                @foreach (var (medida, index) in Model.Medidas.Select((estoque, index) => (estoque, index)))
                {
                    <tr>
                        <td>@(index + 1)</td>
                        <td>@medida.Nome</td>
                        <td>@medida.Sigla</td>
                        <td>
                            <a class="btn btn-sm btn-outline-dark"
                               asp-action="Nova"
                               asp-controller="Saida">
                                Detalhes
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>