@{
    ViewData["Title"] = "Nova saída";
}

@model NovaSaidaViewModel

<h1>nova saída</h1>

<form method="post" asp-action="Nova" asp-controller="Saida">
    <input type="hidden" asp-for="EstoqueId" />
    <div class="row mb-3">
        <div class="col-4">
            <span>Data</span>
            <input type="date" asp-for="Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="col-4">
            <span>Requisitante</span>
            <input asp-for="Requisitante" class="form-control" />
            <span asp-validation-for="Requisitante" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <span>Material</span>
            <input type="hidden"asp-for="ItemSaidaViewModel.MaterialId" class="form-control" />
            <input asp-for="ItemSaidaViewModel.Material" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="col-4">
            <span>Medida</span>
            <input type="hidden" asp-for="ItemSaidaViewModel.MedidaId" class="form-control" />
            <input asp-for="ItemSaidaViewModel.Medida" class="form-control" />
            <span asp-validation-for="Requisitante" class="text-danger"></span>
        </div>
        <div class="col-4">
            <span>Quantidade</span>
            <input asp-for="ItemSaidaViewModel.Quantidade" class="form-control" />
            <span asp-validation-for="Requisitante" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Efetivar</button>
        </div>
    </div>
</form>