﻿.password-input {
    display: flex;
    align-items: center;
    position: relative;
}

.password-input .toggle-pass {
    position: absolute;
    right: 10px;
    top: 35%;
    color: rgb(123, 123, 123) !important;
}

.search input {
    padding-left: 1em !important;
    padding-right: 3em !important;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-form {
    width: 440px;
    margin-top: 10vh;
    padding: 40px;
    max-height: 95vh;
}

.invisivel {
    display: none;
}

.text-secondary {
    color: #2c3e50 !important;
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .divider-custom .divider-custom-line {
        width: 100%;
        max-width: 3rem;
        height: 1px;
        background-color: #2c3e50;
        border-radius: 1rem;
        border-color: #2c3e50 !important;
    }

        .divider-custom .divider-custom-line:first-child {
            margin-right: 1rem;
        }

        .divider-custom .divider-custom-line:last-child {
            margin-left: 1rem;
        }

    .divider-custom .divider-custom-icon {
        color: #2c3e50 !important;
    }
