@{
    ViewData["Title"] = "Relatórios";
}

<div class="row justify-content-center pb-3">
    <div class="paper bg-white col-10 page-container">
        <div class="card-header mb-3 border-bottom">
            <div class="col-12 d-flex align-items-center">
                <div class="page-header">
                    <i class="page-header-icon fa-solid fa-folder"></i>
                    <h5 class="page-header-title">Todos os relatórios</h5>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pt-2 pb-3" style="display: flex; flex-direction:column;flex-grow: 1">
            <div class="row mb-3 d-flex">
                <div class="col-3 me-3">
                    <div class="card mb-3">
                        <div class="card-header border-0 py-2"><p class="text-center m-0">Resumo Entradas</p></div>
                        <div class="card-body d-flex flex-column justify-content-between" style="min-height:140px">
                            <i class="fas fa-box-open fa-3x text-gray-700"></i>
                            <a href="#" class="btn btn-outline-dark">
                                Gerar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3 me-3">
                    <div class="card mb-3">
                        <div class="card-header border-0 py-2"><p class="text-center m-0">Resumo Saídas</p></div>
                        <div class="card-body d-flex flex-column justify-content-between" style="min-height:140px">
                            <i class="fa-solid fa-chart-column fa-3x text-gray-700"></i>
                            <a href="#" class="btn btn-outline-dark">
                                Gerar
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-3 me-3">
                    <div class="card mb-3">
                        <div class="card-header border-0 py-2"><p class="text-center m-0">Estoque completo</p></div>
                        <div class="card-body d-flex flex-column justify-content-between" style="min-height:140px">
                            <i class="fa-solid fa-chart-pie fa-3x text-gray-700"></i>
                            <a href="#" class="btn btn-outline-dark">
                                Gerar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex align-items-center pt-3">
            <a onclick="history.go(-1); return false;" class="btn btn-secondary">
                Voltar
            </a>
        </div>
    </div>
</div>
